*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=cover,format=auto,quality=85,width=1920/keyart/GRMG8ZQZR-backdrop_wide');
    background-position: center center;
    background-size: cover;
    text-align: center;
    font-family: 'Treasure Map Deadhand',sans-serif;
    color: #fff;
}
.quiz{
    padding: 30px;
    background-color: rgba(84, 84, 84, 0.34);
    border-radius: 15px;
    border: 3px solid gold;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    color: white;
    width: 450px;
}
.quiz button {
    display: inline-block;
}
.quiz .question-box{
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'Pirata One',sans-serif;
    color: #ffee00;
}
.quiz .options div{
    padding: 5px;
}
.quiz>.options{
    text-align: left;
}
.quiz>.options>div:hover{
    background-color: rgba(84, 84, 84, 0.505);
    border-radius: 20px;
}
.quiz .options label{
    padding-left: 23px;
    font-size: 20px;
    font-weight: bold;
    color: #252b43;
    cursor: pointer;
}
.quiz>button{
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #e67e22;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.97);
}
.quiz .feedback{
    padding: 10px;
    font-size: 20px;
}
.quiz .score{
    font-weight: bold;
}

.question-box button{
    color: rgb(255, 255, 255);
    background-color: #ffae00;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.options button{
    background: none;
    border: none;
    color: rgb(229, 255, 0);
    font-size: 20px;
    padding-left: 15px;
}



